doctype html
html
    head
        title Far Out Fest
        link(rel="stylesheet", href="/css/index.css")
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png" sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png" sizes="16x16", href="/favicon-16x16.png")
        link(rel="manifest", href="/site.webmanifest")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
    body
        #content
            section#s1
                div#slideshow
                    img(src="/img/slideshow/1.jpg")
                div.home
                    img#logo(src="/img/logo_new.png")
                    div.home-row.date-row
                        svg.date(width="100%")
                            text#date(x="50%" dy="1em") May 4th, 2pm - 12am
                    div.home-row.location-row
                        svg.location(width="100%")
                            text#location(x="50%" dy="1em") Broxton Avenue, Los Angeles
                    div.home-row
                        a(href="/faq")
                            div.button faq
                        a(target="_blank" href="https://www.eventbrite.com/e/westwoods-far-out-fest-tickets-58032997257")
                            div.button rsvp
            div#content-wrapper
                img#background(src="/img/background-opt-comp.svg")
                p#copy
                    | Welcome to Westwood’s Far Out Fest (formerly known as “Westwoodstock”) - a music and art festival
                    | showcasing local up-and-coming artists. Far Out Fest is a celebration of the incredible talent we host
                    | right here in our community. Whether it’s from the UCLA student body, the residents of Westwood Village,
                    | or from the greater region of West LA, this community is rich with music and artistic culture, and it’s
                    | about time we showed the world what we can do! Let’s kick it off together, May 4th 2pm to midnight.
                div#lineup-wrapper
                    p#lineup-title
                    p#lineup-switch click to see past lineups
                    div#lineup-text-wrapper 
                div#sponsors-wrapper
                    p.sponsors-title sponsors
                    p.sponsor The North Westwood Neighborhood Council
                    p.sponsor The Westwood Village Improvement Association
                    img.ww-logo(src="/img/ww_village.png")
                div#stage-wrapper
                   img#stage-logo(src="/img/logo_new.png")
                   div.stage-row
                       a(href="/faq")
                           div.button.stage-button faq
                       a(target="_blank" href="https://www.eventbrite.com/e/westwoods-far-out-fest-tickets-58032997257")
                           div.button.stage-button rsvp
        img#van(src="/img/van-opt-comp.svg")
        div#nav-wrapper
            nav#nav
                a.navitem(href="#s1") home
                a.navitem(href="#copy") about
                a.navitem(href="#lineup-wrapper") lineup
                a.navitem(href="#sponsors-wrapper") sponsors
                a.navitem(href="#stage-wrapper") faq/rsvp
                div#progressbg
                div#progress

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/js/faroutfest.js")
        script(src="/js/slideshow.js")
        script(src="/js/lineup.js")
