doctype html
html
    head
        title Westwoodstock 2019
        link(rel='stylesheet', href='/css/index.css')
    body
        #content
            section#s1
                h1.title Westwoodstock
            .spacer
            .card
                p.card-text Est ut audiam adolescens, ad munere nominavi pro. Cu harum putant pri, amet petentium rationibus pro ea, ex tation iriure vim. Ad tation alienum delicatissimi mea. Vitae dicunt cotidieque sed eu, ad vis malis definiebas. Vel tantas concludaturque ad, nisl singulis constituto ne pri, ex eam dicunt eirmod perfecto. Sit at simul graece mnesarchum, per hendrerit maiestatis abhorreant at, nec ancillae lucilius ei.
            .card
                p.card-text Est ut audiam adolescens, ad munere nominavi pro. Cu harum putant pri, amet petentium rationibus pro ea, ex tation iriure vim. Ad tation alienum delicatissimi mea. Vitae dicunt cotidieque sed eu, ad vis malis definiebas. Vel tantas concludaturque ad, nisl singulis constituto ne pri, ex eam dicunt eirmod perfecto. Sit at simul graece mnesarchum, per hendrerit maiestatis abhorreant at, nec ancillae lucilius ei.
            .card
                p.card-text Est ut audiam adolescens, ad munere nominavi pro. Cu harum putant pri, amet petentium rationibus pro ea, ex tation iriure vim. Ad tation alienum delicatissimi mea. Vitae dicunt cotidieque sed eu, ad vis malis definiebas. Vel tantas concludaturque ad, nisl singulis constituto ne pri, ex eam dicunt eirmod perfecto. Sit at simul graece mnesarchum, per hendrerit maiestatis abhorreant at, nec ancillae lucilius ei.
        .van
            | van

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/js/browser.min.js")
        script(src="/js/wws.js")
