doctype html
html
    head
        title Far Out Fest
        link(rel="stylesheet", href="/css/index.css")
    body
        #content
            section#s1
                div#slideshow
                    img(src="/img/slideshow/1.jpg")
                div.home
                    img#logo(src="/img/logo.svg")
                    div.row
                        a(target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdLw0UpomFcE7zly0XPIp-2AwZigwgMTk2tl2l995D7eQc9YQ/viewform")
                            div.button apply
                        div.button rsvp
            section.spacer
            section#s2
                div#wrapper1.content-wrapper
                    p.copy
                        br
                        span#text-arc-top
                        img#ferris.image(src="/img/ferris-wheel-color.svg")
                        | Welcome to Westwood’s Far Out Fest (formerly known as “Westwoodstock”) -
                        | a music and art festival showcasing local up-and-coming artists. Far Out
                        | Fest is a celebration of the incredible talent we host right here in our
                        | community. Whether it’s from the UCLA student body, the residents of
                        | Westwood Village, or from the greater region of West LA, this community is
                        | rich with music and artistic culture, and it’s about time we showed the
                        | world what we can do!
                        br
                        br
                        | Decades ago, Westwood Village was a prime destination in Los Angeles. It
                        | was the heart of the movie industry, and was host to several large-scale
                        | music and art festivals which attracted tens of thousands of people who
                        | came to celebrate our village culture. Years later, that culture still
                        | exists, but it’s gone unrecognized, left splintered with no central stage
                        | to bring it together. Those days are over.  Far Out Fest ushers in a new
                        | age of culture and celebration. Let’s kick it off together, May 4th from 2pm
                        | to midnight.
                        span#text-arc-bottom
            section#s3
                div#wrapper2.content-wrapper
                    div.lineup-wrapper
                        p#lineup-title
                        p#lineup-switch click to see the previous lineup
                        div#lineup-text-wrapper
                    img#royce.image(src="/img/royce-color.svg")
            section#s4
                div#wrapper3.content-wrapper
                    p#sponsors sponsors
                    img#fox.image(src="/img/fox-theater-color.svg")
            section#s5
                div.content-wrapper
                    img.image(src="/img/stage-color.svg")
        img#van(src="/img/van-color.svg")
        div#nav-wrapper
            nav#nav
                a.navitem(href="#s2") about
                a.navitem(href="#s3") lineup
                a.navitem(href="#s4") sponsors
                a.navitem(href="#s5") apply/rsvp
                div#progressbg
                div#progress

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/js/faroutfest.js")
        script(src="/js/slideshow.js")
        script(src="/js/lineup.js")
