doctype html
html
    head
        title Far Out Fest

        link(rel="stylesheet", href="/css/index.css")
    body
        #content
            section#s1
                div#slideshow
                    img(src="/img/slideshow1.jpg")
                    img(src="/img/slideshow2.jpg")
                    img(src="/img/slideshow3.jpg")
                    img(src="/img/slideshow4.jpg")
                h1#title Far Out Festival 2019
            section.spacer
            section#s2
                img.image(src="/img/ferris-wheel.svg")
            section#s3
                img.image(src="/img/royce.svg")
            section#s4
                img.image(src="/img/fox-theater.svg")
            section#s5
                img.image(src="/img/stage.svg")
        img#van(src="/img/van.svg")
        div#nav-wrapper
            nav#nav
                a.navitem(href="#s2") about
                a.navitem(href="#s3") gallery
                a.navitem(href="#s4") sponsors
                a.navitem(href="#s5") apply/RSVP
                div#progress

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/js/faroutfest.js")
        script(src="/js/slideshow.js")
