doctype html
html
    head
        title Westwoodstock 2019
        link(rel='stylesheet', href='/css/index.css')
    body
        #content
            section#s1
                h1.title Westwoodstock
            section.spacer
            section#s2
            section#s3
            section#s4
        img#van(src="/img/wws_van.svg")
        nav#nav

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/js/browser.min.js")
        script(src="/js/wws.js")
