doctype html
html
    head
        title Far Out Fest

        link(rel="stylesheet", href="/css/index.css")
    body
        #content
            section#s1
                div#slideshow
                    img(src="/img/slideshow/1.jpg")
                div.home
                    img#logo(src="/img/logo.svg")
                    div.row
                        div.button apply
                        div.button rsvp
            section.spacer
            section#s2
                img.image(src="/img/ferris-wheel-color.svg")
            section#s3
                img.image(src="/img/royce-color.svg")
            section#s4
                img.image(src="/img/fox-theater-color.svg")
            section#s5
                img.image(src="/img/stage-color.svg")
        img#van(src="/img/van-color.svg")
        div#nav-wrapper
            nav#nav
                a.navitem(href="#s2") about
                a.navitem(href="#s3") gallery
                a.navitem(href="#s4") sponsors
                a.navitem(href="#s5") apply/rsvp
                div#progressbg
                div#progress

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/js/faroutfest.js")
        script(src="/js/slideshow.js")
