extends layout
doctype html
html
    head
        title Westwoodstock 2018
        link(rel='stylesheet', href='/css/index.css')
    body
        h1 Westwoodstock 2018
        p Welcome to Westwoodstock 2018!
