doctype html
html
    head
        title Westwoodstock 2019
        link(rel='stylesheet', href='/css/index.css')
    body
        #content
            section#s1
                h1.title Westwoodstock
            section.spacer
            section#s2
                img.image(src="/img/wws_ferris.svg")
            section#s3
                img.image(src="/img/wws_royce.svg")
            section#s4
                img.image(src="/img/wws_fox.svg")
            section#s5
                img.image(src="/img/wws_stage.svg")
        img#van(src="/img/wws_van.svg")
        div#nav-wrapper
            nav#nav
                a.navitem(href="/") item 1
                a.navitem(href="/") item 2
                a.navitem(href="/") item 3
                a.navitem(href="/") item 4

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/js/wws.js")
