doctype html
html
    head
        title Far Out Fest
        link(rel="stylesheet", href="/css/index.css")
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png" sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png" sizes="16x16", href="/favicon-16x16.png")
        link(rel="manifest", href="/site.webmanifest")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
    body
        #background
        #content
            section#s1
                div#slideshow
                    img(src="/img/slideshow/1.jpg")
                div.home
                    img#logo(src="/img/logo_new.png")
                    div.home-row.date-row
                        svg.date(width="100%")
                            text#date(x="50%" dy="1em") May 4th, 2pm - 12am
                    div.home-row.location-row
                        svg.location(width="100%")
                            text#location(x="50%" dy="1em") Broxton Avenue, Los Angeles
                    div.home-row
                        a(target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdLw0UpomFcE7zly0XPIp-2AwZigwgMTk2tl2l995D7eQc9YQ/viewform")
                            div.button apply
                        div.button rsvp
            section.spacer
            section#s2
                div#wrapper1.content-wrapper
                    p.copy
                        img#ferris.image(src="/img/ferris-wheel-color.svg")
                        span.ferris-leader
                            br
                            br
                        | Welcome to Westwood’s Far Out Fest (formerly known as “Westwoodstock”) -
                        | a music and art festival showcasing local up-and-coming artists. Far Out
                        | Fest is a celebration of the incredible talent we host right here in our
                        | community. Whether it’s from the UCLA student body, the residents of
                        | Westwood Village, or from the greater region of West LA, this community is
                        | rich with music and artistic culture, and it’s about time we showed the
                        | world what we can do! Let’s kick it off together, May 4th 2pm to midnight. 
            section#s3
                div#wrapper2.content-wrapper
                    div.lineup-wrapper
                        p#lineup-title
                        p#lineup-switch click to see the previous lineup
                        div#lineup-text-wrapper
                    img#royce.image(src="/img/royce-color.png")
            section#s4
                div#wrapper3.content-wrapper
                    div.sponsors-wrapper
                        p.sponsors-title sponsors
                        p.sponsor The North Westwood Neighborhood Council
                        p.sponsor The Westwood Village Improvement Association
                        img.ww-logo(src="/img/ww_village.png")
                    img#fox.image(src="/img/fox-theater-color.svg")
            section#s5
                div#wrapper4.content-wrapper
                    div.stage-wrapper
                        p.stage-title May 4th, 2pm - 12am
                        a(target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdLw0UpomFcE7zly0XPIp-2AwZigwgMTk2tl2l995D7eQc9YQ/viewform")
                            div.button.stage-button apply
                        div.button.stage-button rsvp
                    p.stage-title-mobile May 4th, 2pm - 12am
                    img#stage.image(src="/img/stage-color.svg")
                p#plug website by Ian Brault
        img#van(src="/img/van-color.svg")
        div#nav-wrapper
            nav#nav
                a.navitem(href="#s1") home
                a.navitem(href="#s2") about
                a.navitem(href="#s3") lineup
                a.navitem(href="#s4") sponsors
                a.navitem(href="#s5") apply/rsvp
                div#progressbg
                div#progress

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/js/faroutfest.js")
        script(src="/js/slideshow.js")
        script(src="/js/lineup.js")
