body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

#content {
    height: 100vh;
    width: 440vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(70, 59, 136, 0.6);
}

section {
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
}

#s1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 60px;
    color: white;
}

.spacer {
    height: 100vh;
    width: 40vw;
}

#van {
    position: fixed;
    left: -12vw;
    bottom: 120px;
    width: 12vw;
    height: 100px;
}

#nav {
    position: fixed;
    left: 30vw;
    bottom: -100px;
    width: 40vw;
    height: 80px;
    background-color: white;
    border-radius: 4px;
    transition: bottom 0.2s ease-out;
}

/* TODO: REMOVE LATER */
.spacer { background-color: #00000010; }
#s2 { background-color: #00000020; }
#s3 { background-color: #00000030; }
#s4 { background-color: #00000040; }
