@font-face {
    font-family: "Filson";
    font-weight: 400;
    src: url("/fonts/filson_soft_medium.otf") format("opentype");
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Filson", sans-serif;
    color: #2c2c2c;
    overflow: scroll;
}

#content {
    height: 540vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(#6d62d1, #2c2c2c);
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
}

#s1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#slideshow {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title {
    position: absolute;
    z-index: 10;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: white;
}

.spacer {
    height: 40vh;
    width: 100vw;
}

#van {
    position: fixed;
    left: -50vw;
    height: 100px;
}

#nav-wrapper {
    position: fixed;
    bottom: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav {
    position: relative;
    padding: 24px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 4px;
}

.navitem {
    text-decoration: none;
    font-size: 20px;
    color: #2c2c2c;
    padding: 0 32px;
}

#progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: black;
    border-radius: 4px;
}

.image {
    position: absolute;
    right: 60px;
    top: 100px;
    max-height: 64vh;
}

/* "MOBILE" DESKTOP STYLING */
@media only screen and (min-width: 1000px) {
    body {
        overflow: hidden;
    }

    #content {
        height: 100vh;
        width: 540vw;
        flex-direction: row;
    }

    .spacer {
        height: 100vh;
        width: 40vw;
    }

    .image {
        right: 120px;
    }
}

/* MOBILE STYLING */
@media only screen and (max-device-width: 812px) {
    body {
        overflow: scroll;
    }

    #van {
        height: 160px;
    }

    #nav-wrapper {
        bottom: 40px;
    }

    #nav {
        padding: 30px 18px;
        border-radius: 8px;
    }

    .navitem {
        font-size: 30px;
    }
}
