body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

#content {
    height: 540vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(70, 59, 136, 0.6);
}

@media screen and (min-width: 1000px) {
    #content {
        height: 100vh;
        width: 540vw;
        flex-direction: row;
    }
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
}

#s1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 40px;
    color: white;
}

.spacer {
    height: 40vh;
    width: 100vw;
}

@media screen and (min-width: 1000px) {
    .spacer {
        height: 100vh;
        width: 40vw;
    }
}

#van {
    position: fixed;
    left: -50vw;
    height: 100px;
}

#nav-wrapper {
    position: fixed;
    bottom: -100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: bottom 0.2s ease-out;
}

#nav {
    position: relative;
    padding: 18px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 4px;
}

#progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: black;
    border-radius: 4px;
}

.navitem {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding: 0 20px;
}

@media screen and (min-width: 1000px) {
    #nav {
        padding: 22px 14px;
    }

    .navitem {
        font-size: 18px;
        padding: 0 28px;
    }
}

@media screen and (min-width: 1280px) {
    #nav {
        padding: 24px 16px;
    }

    .navitem {
        font-size: 20px;
        padding: 0 32px;
    }
}

.image {
    position: absolute;
    right: 60px;
    bottom: 140px;
    max-width: 50vw;
    max-height: 72vh;
}

@media screen and (min-width: 1000px) {
    .image {
        right: 120px;
    }
}

/* TODO: REMOVE LATER */
.spacer { background-color: #00000010; }
#s2 { background-color: #00000020; }
#s3 { background-color: #00000030; }
#s4 { background-color: #00000040; }
#s5 { background-color: #00000050; }
